<!DOCTYPE html>
<html>
<head>
  <title>Y - Where You Can Find The New Tweets</title>
  <!-- Agregar los estilos de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Y</h1>
    <h2>The New Era</h2>
    <p> 
    "Welcome to "Y", the new social media platform designed to connect people from around the world! On "Y", you can discover and share ideas, interact with friends and followers, stay up-to-date with the latest trends, and engage in meaningful conversations. Join our global community today and experience a new way to communicate, collaborate, and express yourself online. Start exploring the power of human connection with "Y"!" </p>
  </div>
</body>
</html>