<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-4">Welcome to Y </h1>
      <h2 class="lead">Explore the Latest Updates</h2>
      <p class="lead">Created by Alessandro Figueroa</p>
    </div>
  </div>
</div>